.nav > li > a {
  font-weight: 400;
  font-size: 14px;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
}

/*start override style.css */
/*39*/
.nav > li > a {
  color: #DDDDDD;
}
/*line167*/
.nav > li.active {
  border-left-width: 2px;
}
/*line:319*/
.navbar-fixed-top,
.navbar-static-top {
  background: #fafafa;
  border-bottom: 0 !important;
}
/*183/333*/
.minimalize-styl-2,.fixed-nav .minimalize-styl-2 {
  margin: 10px 5px 5px 20px;
}
/*326*/
body.fixed-nav #wrapper .navbar-static-side,
body.fixed-nav #wrapper #page-wrapper {
  margin-top: 50px;
}
.fixed-nav .slimScrollDiv #side-menu {
  padding-bottom: 50px;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
}


.wrapper-content {
  padding: 20px 10px 20px;
}

/*line:1956 3464 remove*/
/*line:3456*/
.page-heading {
  padding: 4px 10px 4px 10px;
}
/*3336*/
.modal-body {
  padding: 15px;
  background-color: #f3f3f3;
}

/*line:4262*/
body.mini-navbar.fixed-sidebar .profile-element {
  display: none !important;
}
body.mini-navbar.fixed-sidebar .nav-header {
  padding: 0;
}
body.mini-navbar.fixed-sidebar .logo-element {
  display: block;
}

.nav-header,.skin-1 .nav-header,.skin-2 .nav-header {
  padding: 0;
  background: #1ab394;
}
body.mini-navbar .nav-header {
  padding: 0;
  background-color: #1ab394;
}
/*end override style.css*/
/*style config*/
.logo {
  width: 70px;;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  display: block;

}

.navbar-top-links > li {
  float: left
}

.navbar-top-links > li > a {
  display: table-cell;
  padding: 0 12px;
  vertical-align: middle;
  height: 50px;
  color: #515151;
  -webkit-transition: all .4s;
  transition: all .4s
}

.navbar-top-links > li > a:focus {
  /*background-color: transparent*/
}

.navbar-top-links > li > a:hover {
  background-color: #1ab394;
  color: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s
}

.navbar-top-links > .open > a, .navbar-top-links > .open > a:focus {
  background-color: #1ab394;
  color: #ffffff
}
.skin-1 .navbar-top-links > li > a:hover {
  background-color: #0e9aef;
  color: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s
}
.skin-1.navbar-top-links > .open > a, .skin-1.navbar-top-links > .open > a:focus {
  background-color: #0e9aef;
  color: #ffffff
}
.skin-3.navbar-top-links > li > a:hover {
  background-color: #23c6c8;
  color: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s
}
.skin-3.navbar-top-links > .open > a, .skin-3.navbar-top-links > .open > a:focus {
  background-color: #23c6c8;
  color: #ffffff
}


.navbar-top-links > .dropdown > .dropdown-menu, .navbar-top-links > .mega-dropdown > .dropdown-menu, .navbar-top-links > .dropdown > .dropdown-menu.head-list, .navbar-top-links > .mega-dropdown > .dropdown-menu.head-list {
  margin-top: 10px
}

.navbar-top-links .dropdown-menu .panel-body {
  padding: 0
}

.navbar-top-links .dropdown-menu .nano:not(.scrollable) {
  max-height: 180px
}

.navbar-top-links .dropdown-menu .nano:not(.scrollable) .nano-content {
  position: static
}

.navbar-top-links .tgl-menu-btn {
  position: absolute;
  top: -100%;
  right: 0
}

.navbar-top-links .tgl-menu-btn > a, .navbar-top-links .tgl-menu-btn > a:hover, .navbar-top-links .tgl-menu-btn > a:focus {
  color: #fff
}

.navbar-top-links .tgl-menu-btn > a:hover, .navbar-top-links .tgl-menu-btn a:focus {
  background-color: transparent
}

.navbar-top-links .head-list {
  list-style: none;
  padding: 0;
  margin: 0
}

.navbar-top-links .head-list li a {
  display: block;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.6);
  background: transparent
}

.navbar-top-links .head-list li a:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.065)
}

.badge-header {
  position: absolute;
  font-size: .85em;
  font-weight: normal;
  top: 50%;
  margin-top: -1.5em;
  min-width: 1.85em;
  padding: 3px 5px;
  right: 3px
}

.navbar-top-links .dropdown-menu .nano {
  max-height: 265px
}


.img-user {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1)
}

.username {
  float: right;
  white-space: nowrap;
  line-height: 50px;
  margin: 0 10px
}

@media (min-width: 768px) {
  #dropdown-user > .dropdown-toggle img {
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    transform: translateY(9px)
  }

  #navbar {
    background-color: transparent
  }
/*
  .navbar-header {
    float: left;
    background-color: transparent
  }

  .navbar-header:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #32404e
  }

  #container.mainnav-out .navbar-header:before {
    width: 0
  }

  #wrapper.mainnav-in .navbar-header:before {
    width: 100%
  }*/

  #navbar-container {
    background-color: #fff
  }

  .navbar-content {
    margin-left: 220px;
    background-color: transparent
  }

  #navbar .brand-title {
    padding: 0 1.5em 0 50px
  }

  #wrapper.mainnav-in .navbar-brand, #wrapper.mainnav-lg .navbar-brand, #wrapper.mainnav-in .brand-title, #wrapper.mainnav-lg .brand-title {
    width: 220px
  }

  #wrapper.mainnav-in .brand-icon, #wrapper.mainnav-sm .brand-icon, #wrapper.mainnav-lg .brand-icon {
    background-color: transparent
  }

  #wrapper.mainnav-in .brand-title, #wrapper.mainnav-sm .brand-title, #wrapper.mainnav-lg .brand-title {
    color: #fff
  }

  #wrapper.effect .brand-title, #wrapper.effect.mainnav-in .brand-title, #wrapper.effect.mainnav-sm .brand-title, #wrapper.effect.mainnav-lg .brand-title {
    -webkit-transition: color .35s;
    transition: color .35s
  }

  .navbar-middle {
    position: static
  }

  .navbar-top-links .tgl-menu-btn {
    position: static
  }

  .navbar-top-links .tgl-menu-btn > a, .navbar-top-links .tgl-menu-btn > a:hover {
    color: #515151
  }

  .navbar-top-links .tgl-menu-btn > a:focus {
    background-color: transparent;
    color: #515151
  }
}

#wrapper.navbar-fixed > #navbar {
  position: fixed
}

#wrapper.navbar-fixed > #navbar .shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1)
}

#wrapper.navbar-fixed .navbar-top-links .dropdown-menu .nano > .nano-content {
  position: absolute
}

#wrapper.navbar-fixed .navbar-top-links .dropdown-menu .nano {
  max-height: 110px
}


.open.mega-dropdown {
  position: static
}

.open.mega-dropdown > .mega-dropdown-toggle:before, .open.mega-dropdown > .mega-dropdown-toggle:after {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  display: block;
  height: 0;
  position: absolute;
  width: 0
}

.open.mega-dropdown > .mega-dropdown-toggle:before {
  border-bottom: 7px solid #d0d0d0;
  margin: -8px 0 0 0;
  bottom: -10px
}

.open.mega-dropdown > .mega-dropdown-toggle:after {
  border-bottom: 7px solid #fff;
  margin: -7px 0 0 0;
  bottom: -11px;
  z-index: 10000
}

.navbar-top-links > .mega-dropdown > .dropdown-menu.mega-dropdown-menu {
  left: 18px;
  right: 18px;
  max-width: 1250px
}

.dropdown-menu.mega-dropdown-menu {
  padding: 15px 0
}

.dropdown-menu.mega-dropdown-menu:after {
  content: '';
  display: table;
  clear: both
}

.dropdown-menu.mega-dropdown-menu .list-unstyled .dropdown-header {
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px 4px
}

.dropdown-menu.mega-dropdown-menu .list-unstyled li a {
  display: block;
  padding: 4px;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent
}

.dropdown-menu.mega-dropdown-menu .list-unstyled li a:not(.disabled-link):hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.065)
}



.pad-no {
  padding: 0
}

.pad-all {
  padding: 15px
}

.pad-top {
  padding-top: 15px
}

.pad-btm {
  padding-bottom: 15px
}

.pad-lft {
  padding-left: 15px
}

.pad-rgt {
  padding-right: 15px
}

.pad-hor {
  padding-left: 15px;
  padding-right: 15px
}

.pad-ver {
  padding-top: 15px;
  padding-bottom: 15px
}




.popover {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}

.popover-title {
  background-color: #f5f6f7;
  color: #5c7174;
  font-weight: 300;
  border-radius: 0 0 0 0
}

.popover > .arrow {
  border-width: 9px
}

.popover > .arrow:after {
  border-width: 9px
}

.popover.left > .arrow {
  right: -9px;
  margin-top: -9px
}

.popover.left > .arrow:after {
  bottom: -9px
}

.popover.right > .arrow {
  left: -9px;
  margin-top: -9px
}

.popover.right > .arrow:after {
  bottom: -9px
}

.popover.top > .arrow {
  bottom: -9px
}

.popover.top > .arrow:after {
  margin-left: -9px
}

.popover.bottom > .arrow {
  top: -9px
}

.popover.bottom > .arrow:after {
  margin-left: -9px
}

.popover-content {
  padding: 10px 15px 20px
}

#wrapper .badge {
  font-weight: normal;
  color: #fff
}

.badge:empty.badge-icon {
  display: inline-block;
  width: .7em;
  height: .7em;
  padding: 0;
  min-width: 5px;
  margin: .5em;
  border-radius: 50%
}

.badge.badge-fw, .badge:empty.badge-fw {
  margin-right: 1em
}

.badge-default {
  background-color: #e3e8ee;
  color: #333
}

.badge-primary {
  background-color: #5fa2dd
}

.badge-info {
  background-color: #4ebcda
}

.badge-success {
  background-color: #9cc96b
}

.badge-warning {
  background-color: #ebaa4b
}

.badge-danger {
  background-color: #f76c51
}

.badge-mint {
  background-color: #50c7a7
}

.badge-purple {
  background-color: #986291
}

.badge-pink {
  background-color: #e17ca7
}

.badge-dark {
  background-color: #3b4146
}

.dropdown-header {
  padding: 5px 20px 5px 10px
}

.dropdown-toggle > .dropdown-caret {
  padding-left: .5em
}

.dropdown-toggle.dropdown-toggle-icon > i {
  padding: 0 .25em
}

.dropdown-menu {
  font-size: 12px;
  border-radius: 0;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  margin: 1px 0 0 0;
  padding: 0;
  border: 1px solid #e9e9e9
}

.dropdown-menu-right {
  left: auto;
  right: 0
}

.dropup .dropdown-menu {
  box-shadow: 0 -2px 1px 0 rgba(0, 0, 0, 0.15)
}

.dropdown-menu > li > a {
  padding: 5px 10px
}

.dropdown-menu > li > a:hover {
  background-color: #54abd9;
  color: #fff
}

.dropdown-menu.with-arrow:before, .dropdown-menu.with-arrow:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent
}

.dropdown-menu.with-arrow:before {
  border-bottom: 7px solid #d0d0d0;
  margin: -7px 0 0 15px
}

.dropdown-menu.with-arrow:after {
  border-bottom: 7px solid #fff;
  margin: -6px 0 0 15px
}

.dropdown-menu-right.dropdown-menu.with-arrow:before {
  left: auto;
  right: 0;
  margin: -7px 25px 0 0
}

.dropdown-menu-right.dropdown-menu.with-arrow:after {
  left: auto;
  right: 0;
  margin: -6px 25px 0 0
}

.dropdown-menu-sm {
  min-width: 200px
}

.dropdown-menu-md {
  min-width: 275px
}

.dropdown-menu-lg {
  min-width: 350px
}

.dropdown.open > .btn, .btn-group.open .dropdown-toggle {
  box-shadow: inset 0 3px 1px rgba(0, 0, 0, 0.3)
}

/*新增内容定制的部分*/
div.popovernav > ul.nav-second-level {
  position: relative;
  top:0;
  left:0;
}

.menu-popover ul, .menu-popover .nav-second-level ul {
  list-style: none;
  padding-left: 0
}
.menu-popover.popover {
  width: 220px;
  padding: 0;
  border: 0;
  border-radius: 0 0 0 0;
  background-color: #2e3b48;
  color: #fff;
  position: absolute;
  box-shadow: none;
  margin-left: 0
}

.menu-popover.popover.in {
  -webkit-animation: fadeIn .2s;
  animation: fadeIn .2s
}

.menu-popover > .popover-title {
  border: 0;
  border-radius: 0;
  padding: 14px 20px;
  background-color: #384857;
  font-size: 1.05em;
  position: relative;
  z-index: 5;
  color: #fff
}

.menu-popover > .popover-title strong {
  font-weight: 300
}

.menu-popover > .popover-content {
  padding: 0;
  width: 100%;
  position: absolute;
  border-radius: 0 0 0 0
}

.menu-popover ul {
  width: 220px;
  margin-bottom: 0
}

.menu-popover .nav > li > a:hover,
.menu-popover .nav > li > a:focus {
  background-color: #293846;
  color: white;
}

/*dashboard*/

.hr-line-solid-devide {
  border: 0;
  border-bottom: 1px solid #e7eaec;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.ibox-jqGrid{
  padding: 0 15px 10px 0;
  border-width: 0px 0px;
}

.input-grid-evaluate-weight{
  width:35px;
}


.air {
  position: absolute;
  z-index: 5
}

.air-bottom {
  bottom: 0
}

.air-top {
  top: 0
}

.air-top-right {
  top: 0;
  right: 0
}

.air-top-left {
  top: 0;
  left: 0
}

.air-bottom-left {
  bottom: 0;
  left: 0
}

.air-bottom-right {
  bottom: 0;
  right: 0
}

.ultra-light {
  font-weight: 300 !important
}


[class*=" bg-"], [class^=bg-] {
  -webkit-filter: none !important;
  filter: none !important
}

.txt-color-blue {
  color: #57889c !important
}

.txt-color-blueLight {
  color: #92a2a8 !important
}

.txt-color-blueDark {
  color: #4c4f53 !important
}

.txt-color-green {
  color: #356e35 !important
}

.txt-color-greenLight {
  color: #71843f !important
}

.txt-color-greenDark {
  color: #496949 !important
}

.txt-color-red {
  color: #a90329 !important
}

.txt-color-yellow {
  color: #b09b5b !important
}

.txt-color-orange {
  color: #b19a6b !important
}

.txt-color-orangeDark {
  color: #a57225 !important
}

.txt-color-pink {
  color: #ac5287 !important
}

.txt-color-pinkDark {
  color: #a8829f !important
}

.txt-color-purple {
  color: #6e587a !important
}

.txt-color-darken {
  color: #404040 !important
}

.txt-color-lighten {
  color: #d5e7ec !important
}

.txt-color-white {
  color: #fff !important
}

.txt-color-grayDark {
  color: #525252 !important
}

.txt-color-magenta {
  color: #6e3671 !important
}

.txt-color-teal {
  color: #568a89 !important
}

.txt-color-redLight {
  color: #a65858 !important
}


.txt-color-default {
  color: #1ab394 !important
}

.bg-color-default {
  background-color: #1ab394 !important
}

.bg-color-blue {
  background-color: #57889c !important
}

.bg-color-blueLight {
  background-color: #92a2a8 !important
}

.bg-color-blueDark {
  background-color: #4c4f53 !important
}

.bg-color-green {
  background-color: #356e35 !important
}

.bg-color-greenLight {
  background-color: #71843f !important
}

.bg-color-greenDark {
  background-color: #496949 !important
}

.bg-color-red {
  background-color: #a90329 !important
}

.bg-color-yellow {
  background-color: #b09b5b !important
}

.bg-color-orange {
  background-color: #c79121 !important
}

.bg-color-orangeDark {
  background-color: #a57225 !important
}

.bg-color-pink {
  background-color: #ac5287 !important
}

.bg-color-pinkDark {
  background-color: #a8829f !important
}

.bg-color-purple {
  background-color: #6e587a !important
}

.bg-color-darken {
  background-color: #404040 !important
}

.bg-color-lighten {
  background-color: #d5e7ec !important
}

.bg-color-white {
  background-color: #fff !important
}

.bg-color-grayDark {
  background-color: #525252 !important
}

.bg-color-magenta {
  background-color: #6e3671 !important
}

.bg-color-teal {
  background-color: #568a89 !important
}

.bg-color-redLight {
  background-color: #a65858 !important
}


.checkbox-default input[type="checkbox"]:checked + label::before,
.checkbox-default input[type="radio"]:checked + label::before {
  background-color: #1ab394;
  border-color: #1ab394;
}
.checkbox-default input[type="checkbox"]:checked + label::after,
.checkbox-default input[type="radio"]:checked + label::after {
  color: #fff;
}

.form-read img.img-circle {
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
}

.form-read h2 {
  margin-top: 10px;
}
.dialog-open-link{

}
/*Calendar*/
.fc-day-grid-event .fc-content {
   white-space:pre-wrap;
  padding-right: 10px;
}
